<main class="mg-t20">
    
    <div class="container">
        
        <div class="row mt20">
            
            <div class="col-md-6 offset-md-3 text-center">
                
                <div>
                    
                    <h2 class="mg-t20">Sistema GymRank</h2>
                    
                    <p class="ln-h text-justify">Sistema pensado para los GymBros del GYM de UPT. El sistema consiste en tres rankings, <b>BenchPress</b>, <b>Squat</b> y <b>Deadlift</b>.
                        Me anime a crear un sistema así ya que estoy aprendiendo Spring Framework y Angular.
                    </p>
                    
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</main>
