<main class="text-center mg-t20">
    
    <h2>Informacion del usuario <b>{{usuario.name}}</b></h2>
    
    <div class="text-justify">
        
        <p><b>Id: </b>{{usuario.id}}</p>
        <p><b>Nombre: </b>{{usuario.name}}</p>
        <p><b>Email: </b>{{usuario.email}}</p>
        <p><b>Contraseña: </b>{{usuario.password}}</p>
        <p><b>BenchPress: </b>{{usuario.benchPress}}</p>
        <p><b>Squat: </b>{{usuario.squat}}</p>
        <p><b>Deadlift: </b>{{usuario.deadlift}}</p>
        
    </div>
    
</main>
