/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
    flex: 1 1 auto;
  }

h1 {

    font-size: 30px !important;

}

h2 {

    font-size: 25px !important;

}


main {

    color: #fff !important;

}


table {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.800) !important;
    color: #fff !important;
    border-radius: 10px;
  }

.mg-t20 {

    margin-top: 20px !important;

}

.mg-r15{

    margin-right: 15px;

}

.mg-l15 {

    margin-left: 15px;

}

.ln-h {

    line-height: 25px;

}



